*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}


/* teteu */












































/* Mimi */






































/* lulu */






































/* dadinho */







.section-1 {
    display: flex;
    background-color: #dbdbe7;
    height: 500px;
    padding: 80px;
    justify-content: space-between;
    

}

.logo {
    text-align: left;
    padding: 20px;
    width: 400px;
    text-decoration: dotted;
}


footer {
    display: flex;
    background-color: #01013e;
    width: 100%;
    height: 70px;
    color: #dbdbe7;
    align-items: center;
    justify-content:space-around;
    padding: 20px;
}

.cartoes {
    display: flex;
    background-color: #dbdbe7;
    border-radius: 20px;
    height: 40px;
    align-items: center;
    justify-content: center;
}




